name: Python CI

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]
  release:
    types: [ released ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.12"

      - name: Install package
        run: uv sync --group dev

      - name: Run linters
        run: uv run pre-commit run -a

  test:
    name: Python ${{ matrix.python-version }} (${{ matrix.platform }})
    needs: lint
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.10"
            platform: ubuntu-latest
          - python-version: "3.11"
            platform: ubuntu-latest
          - python-version: "3.12"
            platform: ubuntu-latest
          - python-version: "3.13"
            platform: ubuntu-latest
          - python-version: "3.14"
            platform: ubuntu-latest
          - python-version: "3.12"
            platform: macos-latest
          - python-version: "3.12"
            platform: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run tests
        env:
          TASKCLUSTER_ROOT_URL: https://community-tc.services.mozilla.com
        run: uv run pytest --cache-clear --cov=src --cov-config=pyproject.toml --cov-report=term-missing --disable-pytest-warnings

      - name: Run codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          uv run coverage xml --ignore-errors
          uv run codecov upload-process

  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.12"

      - name: Install package
        run: uv sync --group dev

      - name: Run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "bugmon@mozilla.com"
          git config --global user.name "semantic-release"
          uv run semantic-release -v version --no-changelog
          uv run semantic-release publish
